.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.list {
    background: #def3cd;
}

.json {
    background: #f5e499;
}

table {
    background: #99d8f5;
    border: 1px solid silver;
    width: 50%;
    margin: auto;
}